@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@{
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
}
<center>
    <hgroup class="title">
        <br />
        <br />
        <h2>Email Sent</h2>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</center>
	
